.movie-detail
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #f0f0f0
  z-index: 1
  .movie-header
    z-index 10



    .bgimg
      position: relative
      z-index: -1
      width: 100%
      padding-top: 70%
      background-repeat: no-repeat
      background-size: cover
      transform-origin: top center
      transition: transform

.filter
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.3)