.movie-detail
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #f0f0f0
  z-index: 1
  .movie-header
    z-index 100

.movieinfo-bg
  position absolute
  top: 50px
  width 100%
  height 100%
  z-index -1
.bgimg
  position absolute 
  z-index -1
  width 100%
  height 100%
  filter: blur(40px)
  img
    width 100%
    height 100% 
    background-size contain

.movie-body
  width 100%
  height 100%
  .movie-top
    width 100%
    height 190px
    margin-top: 50px
    .left
      float left
      padding: 20px
      img
        width 107px
        height 150px
    .right
      float left
      padding: 20px 0 
      text-align: left 
      .title
        color: #ffffff
        font-size 19px
        margin-bottom: 2px
      .titleaka
        color: #ffffff
        font-size 11px
      .rating
        color: #ff9900
        font-size 20px
        margin: 10px 0
      .genres
        color: #e8e8e8
        font-size 12px
      .dur-place
        color: #e8e8e8
        font-size 12px
        margin-right 5px
      .pubdate
        color: #e8e8e8
        font-size 12px

        